@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#canvas1{
    position: absolute;
    z-index: -1000;
    top: 0;
    left: 0;
    background: radial-gradient(#5829cf , #0B011F);
}

header{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

nav{
    width: 50%;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .5);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.nav-ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-list{
    list-style: none;
}

.nav-a{
    font-size: 1.2rem;
    padding: .3rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: 500ms;
}

a:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
